.header {
  &__socials {
    background: #f2f2f2;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__worktime {
  }

  &__socials-list {
  }

  &__socials-item {
  }
}
.icon-facebook {
}
.icon-twitter {
}
.icon-pinterest {
}
.icon-instagram {
}
