body {
  font-family: 'Inter';
}

.header {
  &__socials-wrapper {
    background: #f2f2f2;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__worktime {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1c2752;
    flex: 0 0 88%;
  }

  &__socials-list {
    display: flex;
    justify-content: space-between;
    flex: 0 0 12%;
  }

  &__socials-item {
    color: #1c2752;
    margin-left: 15px;
    &:first-of-type {
      margin-left: 0;
    }

    &:nth-of-type(4) {
      margin-right: 10px;
    }

    a {
      color: inherit;
      font-size: 18px;
    }
  }

  &__main {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__logo-block {
    flex: 0 0 55%;
  }

  &__main-screen {
    margin-top: 65px;
    background: url(../images/headerImage.png) center/cover no-repeat;
  }

  &__screen-info {
    padding: 271px 0 500px 0;
    max-width: 700px;
  }

  &__motto {
    max-width: 660px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 40px 5px 62px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-0%, -50%);
      font-size: 28px;
      color: #ffb342;
    }
  }

  &__title {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
  }

  &__btn {
    background: #ffb342;
    border: 2px solid #ffb342;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    padding: 18px 43px;
    color: #1c2752;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex: 0 0 45%;
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 28px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background: #ffb342;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  .icon-telephone_icon {
    font-size: 40px;
  }

  &__info {
    margin-left: 35px;
    margin-top: -3px;
  }

  &__conntect-name {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.36px;
    color: #1c2752;
  }

  &__conntect-type {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7e7e7e;
  }
}

.menu {
  position: absolute;
  bottom: -251%;
  left: 0%;
  width: 100%;
  background: #ffb342;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 45px;
  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 50px;
    &:last-of-type {
      margin-right: 0;
    }

    &:nth-of-type(2) {
      margin-right: 60px;
    }

    &:nth-of-type(3) {
      margin-right: 80px;
    }

    &:nth-of-type(4) {
      margin-right: 55px;
    }
  }

  &__list-link {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222;
    transition: 0.5s all ease;
    &:hover {
      color: #fff;
    }
  }

  &__list-link--active {
    color: #fff;
    &:hover {
      color: #222;
    }
  }

  &__btn {
    background: #1c2752;
    border: 2px solid #1c2752;
    padding: 18px 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #f4f4f4;
    transition: 0.5s all ease;
    &:hover {
      background: #1c2752c9;
    }
  }
}
